<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-2 mt-4'>
      <h2>本当に退会しますか？</h2>
      <div class='my-4'>
        <p>退会する場合は、『退会する』をクリックしてください。</p>
      </div>
      <div>
        <%= link_to '退会しない', user_path(@user) %> |
        <%= link_to "退会する", withdraw_user_path(@user), method: :patch %>
      </div>
    </div>
  </div>
</div>